@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    background-image: url('../img/The_Courtyard.png'); /* Caminho da imagem */
    background-size: cover;   /* Preenche toda a tela */
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
}

.comecar {
    background-color: rgba(0, 0, 0, 0.623); /* Botão com fundo semi-transparente */
    color: white;
    padding: 30px 60px;
    text-decoration: none;
    font-size: 52px;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-family: 'Press Start 2P', cursive;
}

.duelosincriveis {
    color: rgb(226, 215, 215);
    font-size: 90px;
    text-align: center;
    text-shadow: 3px 3px 3px red;
    font-family: 'Press Start 2P', cursive;
}
.volume-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    z-index: 999;
}

input[type=range] {
    -webkit-appearance: none;
    width: 150px;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}